body {
    background-color:#2D2D2D;
    font-family: Montserrat;
    color: aliceblue;
    background-image: url(5447766.jpg);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#language{
    font-size: 25px;
    float: left;
    font-family: Roboto;
    color:#AC2937;
    position: fixed;
}
#language:hover{
    color: aliceblue;
}
a:link {
    text-decoration: none;
    color: #;
}

#about{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    color:aliceblue;
    font-size: 16px;
    font-family: Montserrat;
}

hr.half-width{
  width:80%;
  margin: 0 auto;
}
hr.half-width2{
  width:90%;
  margin: 0 auto;
}

.Skills{
    text-align: center;
}

.w3-round {
    width: 20vw;
    }
.dev{text-align: center;}
.w3-light-grey{
    margin: 0 auto;
}

.CV{
    position: fixed;
    bottom: 20px;
    right: 20px;    
}

#contact{
    font-family: Montserrat;
    font-size: 14px;
    color: aliceblue;
    text-align: center;
}

#email:hover{
    color: brown;
}

.social{
    bottom: 20px;
    left: 20px;
    position: relative;
    font-size: 20px;
}

#github {
    color: white;
}
#github:hover   {
    transition: all 1s ease;
    color: black;
}

#xing {
    color: white;
}
#xing:hover {
    transition: all 1s ease;
    color: #cfdc00;
}

#linkedin {
	color: white;
}
#linkedin:hover {
	transition: all 1s ease;
	color: #2867b2;
}

.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}


::selection{
    background: #AC2937;
	color: #FFF;
	text-shadow:none;
}